.manu-factura-logo-container {
  background-color: var(--color-background);
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  padding-top: 20px;
}

.manu-factura-logo {
  height: 50px;
}
